body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the card.
*/

main {
    text-align: center;
}

section {
    border: solid 1px #CCC;
    width: 20%;
    display: inline-block;
    text-align: left;
}

section h2 {
    margin-left: 15px;
}

section img {
    width: 100%;
}

section p {
    margin-left: 15px;
    margin-right: 15px;
}

section button {
    margin-left: 15px;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    section {
        width: 40%;
    }
}

@media (max-width: 768px) {
    section {
        width: 90%;
    }
}



